.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px;
}

.pagination-btn{
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid gray;
}

.pagination-btn.active{
    background-color: green;
    color: black;
}