* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-xxl: 40px;
  --fs-xl: 32px;
  --fs-lg: 24px;
  --fs-md: 20px;
  --fs-sm: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}




a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}
img{
  display: block;
}


@media (max-width:1024px) {
  :root {
    --fs-xxl: 28px;
    --fs-xl: 24px;
    --fs-lg: 16px;
    --fs-md: 14px;
    --fs-sm: 12px;
  }
  
}